.youhuijuandetail {
 	width: 100%;
 }

 .daohan {
 	width: 100%;
 	padding: 80rpx 0;
	  background-color: #fff;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
	 
 }

 .daohan0 {
 	flex: 1;
 	text-align: center;
 }

 .daohan01 {
 	text-align: left;
 	padding-left: 30px;
 }

 .daohan0huodogn {
 	font-size: 28rpx;
 	font-family: PingFangSC-Semibold, PingFang SC;
 	font-weight: 600;
 	color: #000000;
 }

 .daohanleft {
 	width: 45rpx;
 	height: 45rpx;
 }
 .tabyouhuijuan{
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 align-items: center;
	 margin-top: -22px;

 }
 .tabyouhuijuan0{
	 flex: 1; 
	 text-align: center;

 }
 .istabyouhuijuan1{
	 color: #F32330;
	 border-bottom: 2px solid #F32330;
	 padding-bottom: 6rpx;
 }
 .tabyouhuijuan1{
	 padding-bottom: 6rpx;
	 color: #333; 
	 border-bottom: 0px solid #fff;
 }
 .nomoredata{margin-top: 103rpx;
}